.blog{
    background: url('images/Abract01.png') no-repeat right;
    height: 100vh;
    width: 100%;
    padding-top: 15%;
}

.blog .blog-box{
    background: transparent;
    text-align: center;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2)
}

.blog .blog-box h2{
    color: #333;
}

.blog .blog-box p{
    color: #888;
    padding-bottom: 20px;
}

.blog .btn{
    display: inline-block;
    background: lightblue;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 16px 50px;
    border-radius: 30px;
    transition: 250ms ease-in-out;
}

.blog .btn:hover{
    transform: scale(0.98);
}