@media(max-width: 700px){
    .main-nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-bar .main-nav ul li a{
        font-size: 18px;
    }

    .nav-bar .main-nav ul li{
        margin-top: 20px;
    }

    .grid-3{
        grid-template-columns: 1fr;
    }

    .grid-2{
        grid-template-columns: 1fr;
    }
}